
# NLP
Natural Language Processing ( NLP) is a component of Artificial Intelligence in the field of linguistics that helps a computer to interpret or manipulate the natural language written or spoken by humans, with the help of software.

In NLP, Step of building model:

1. Text preprocessing Steps:
   * Tokenization
   * Lower casing
   * Stop words removal
   * Stemming
   * Lemmatization

# Tokenization

In [33]:
import nltk

In [34]:
sent = 'Tokenization is the task of splitting a text into meaningful segments, called tokens'

sent means sentence.

In [35]:
nltk.word_tokenize(sent)

['Tokenization',
 'is',
 'the',
 'task',
 'of',
 'splitting',
 'a',
 'text',
 'into',
 'meaningful',
 'segments',
 ',',
 'called',
 'tokens']

In [4]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ashmi\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

punkit is used to unzipping tokenizers.

In [5]:
nltk.word_tokenize(sent)

['Tokenization',
 'is',
 'the',
 'task',
 'of',
 'splitting',
 'a',
 'text',
 'into',
 'meaningful',
 'segments',
 ',',
 'called',
 'tokens']

In [6]:
corpus = "He is a good boy. She is a good girl. Boy and girl are good."
nltk.sent_tokenize(corpus)

['He is a good boy.', 'She is a good girl.', 'Boy and girl are good.']

Paragrapha means corpus.

# Stopwords
    
    Words like is, the, and, of,a is not much important because it does not add much meaning to the sentence we can remove them using stopwords.

In [7]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ashmi\AppData\Roaming\nltk_data...

[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [8]:
nltk.corpus.stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [ ]:
nltk.corpus.stopwords.words('nepali')

In [10]:
sent = 'He is a good boy'
sentence = sent.lower()

In [11]:
# to tokenize word
word = nltk.word_tokenize(sent)
word

['He', 'is', 'a', 'good', 'boy']

In [12]:
words = nltk.word_tokenize(sentence)
words

['he', 'is', 'a', 'good', 'boy']

In [13]:
stopwords = nltk.corpus.stopwords.words('english')
[word for word in words if word not in stopwords]

['good', 'boy']

* Stopwords are case sensitive i.e it is only in lowercase.so we convert sentence into lowercase, than after remove the stopwords

# Removing HTML from the text

In [14]:
sent = '<h1>Nepal to raise its concerns about the <b>DPR</b> of Raxaul-Kathmandu railway.</h1>'

In [15]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(sent,'html.parser')
soup.text

'Nepal to raise its concerns about the DPR of Raxaul-Kathmandu railway.'

# Stemming

Stemming:  convert word into rood word or base word stem or base word - word may not have any meaning -very fast.

stemming is used to finding the root word

* Application of Stemming
   * sentiment analysis
   * review classification

In [16]:
words = ['change','changes','changed']

In [17]:
stemmer = nltk.stem.PorterStemmer()
stemmer

In [18]:
[stemmer.stem(word) for word in words]

['chang', 'chang', 'chang']

# Lemmatization
Lemmatization :  Lemmatization deals with reducing the word to its canonical dictionary form . The rood word is called a 'lemma' and the method is called lemmatization. - slow

To lemmatization a sentence by using wordnet

* Application:
  * summarization, chatbot

In [19]:
words = ['change','changes','changed']

In [20]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\ashmi\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [21]:
lemmatizer = nltk.stem.WordNetLemmatizer()

In [22]:
[lemmatizer.lemmatize(word) for word in words]

['change', 'change', 'changed']

# Converting text to vector
* Bag of words/ CountVectorizer()
* Tfidf

In NLP

 * corpus is an collection of document.
 * document is an no of rows.
 * vocablary is an unique word of the corpus.

In [23]:
d1 = 'He is a lazy boy. she is also lazy.'
d2 = 'Neeraj is a lazy person'
corpus = [d1,d2]

In [24]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()

In [25]:
X = vectorizer.fit_transform(corpus)
X

<2x8 sparse matrix of type '<class 'numpy.int64'>'
	with 10 stored elements in Compressed Sparse Row format>

In [26]:
X.toarray()

array([[1, 1, 1, 2, 2, 0, 0, 1],
       [0, 0, 0, 1, 1, 1, 1, 0]], dtype=int64)

In [27]:
import pandas as pd
vocab = vectorizer.get_feature_names_out()
vocab

array(['also', 'boy', 'he', 'is', 'lazy', 'neeraj', 'person', 'she'],
      dtype=object)

 this is an columns

In [28]:
pd.DataFrame(X.toarray(),columns=vocab)

   also  boy  he  is  lazy  neeraj  person  she
0     1    1   1   2     2       0       0    1
1     0    0   0   1     1       1       1    0

To Removing the stop_words

In [29]:
d1 = 'He is a lazy boy. she is also lazy.'
d2 = 'Neeraj is a lazy person'
corpus = [d1,d2]
vectorizer = CountVectorizer(stop_words = 'english')
X = vectorizer.fit_transform(corpus)
vocab = vectorizer.get_feature_names_out()
pd.DataFrame(X.toarray(),columns=vocab)

   boy  lazy  neeraj  person
0    1     2       0       0
1    0     1       1       1

In [30]:
d1 = 'He is a good boy.'
d2 = 'she is a good girl.'
d3 = 'boy and girl are good'
d4 = 'good boy and good girl are good for the society'
corpus = [d1,d2,d3,d4]

In [31]:
vectorizer = CountVectorizer(stop_words = 'english')
X = vectorizer.fit_transform(corpus)
vocab = vectorizer.get_feature_names_out()
pd.DataFrame(X.toarray(),columns=vocab)

   boy  girl  good  society
0    1     0     1        0
1    0     1     1        0
2    1     1     1        0
3    1     1     3        1

Count vectorizer gives more weight to freqency occring word.

For eg : the keywords might appear only few time so we might want to boost the important of rare occuring word. In such a case countvectorizer falls. Therefore we use tfidf vectorizer which gives weight to rare occuring words.

In [32]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(stop_words = 'english')
X = vectorizer.fit_transform(corpus)
vocab = vectorizer.get_feature_names_out()
pd.DataFrame(X.toarray(),columns=vocab)

        boy      girl      good   society
0  0.774191  0.000000  0.632952  0.000000
1  0.000000  0.774191  0.632952  0.000000
2  0.612172  0.612172  0.500491  0.000000
3  0.309045  0.309045  0.757993  0.484178

tfidf le rare occurance word lai ni equlity frequently dinxa as compare to few words