In [1]:
import seaborn as sns
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [2]:
# We want to know if there is relationship between sex and smoker
H0 = 'There is no relationship between sex and smoker'
H1 = 'There is significant relationship between sex and smoker'

In [3]:
alpha = 0.05

In [4]:
# to abstract the observed table
import pandas as pd
table = pd.crosstab(df['sex'],df['smoker'])
table

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [5]:
from scipy.stats import chi2_contingency
res = chi2_contingency(table.values)
res

Chi2ContingencyResult(statistic=0.0, pvalue=1.0, dof=1, expected_freq=array([[59.84016393, 97.15983607],
       [33.15983607, 53.84016393]]))

In [6]:
if res.pvalue < alpha:
  print("We regect H0")
else:
  print('We fail to reject H0')

We fail to reject H0

* There is no relationship between smoker and sex

In [7]:
expected = res.expected_freq
confidence_interval = 1 - alpha
degree_of_freedom = res.dof

In [8]:
from scipy.stats import chisquare
result = chisquare(table.values,expected, axis = None)
result.statistic # x square calculated

0.001934818536627623

In [11]:
# find chisquare tabular
import scipy
chi_square_tabular = scipy.stats.chi2.ppf(confidence_interval,df=degree_of_freedom)
chi_square_tabular

3.841458820694124

In [10]:
if result.statistic > chi_square_tabular:
  print('We reject H0')
else:
  print("We fail to reject H0")

We fail to reject H0