In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('csv_data/Book_ipl22_ver_33.csv')
df.head()

,match_id,date,venue,team1,team2,stage,toss_winner,toss_decision,first_ings_score,first_ings_wkts,second_ings_score,second_ings_wkts,match_winner,won_by,margin,player_of_the_match,top_scorer,highscore,best_bowling,best_bowling_figure
0,1,"March 26,2022","Wankhede Stadium, Mumbai",Chennai,Kolkata,Group,Kolkata,Field,131,5,133,4,Kolkata,Wickets,6,Umesh Yadav,MS Dhoni,50,Dwayne Bravo,3--20
1,2,"March 27,2022","Brabourne Stadium, Mumbai",Delhi,Mumbai,Group,Delhi,Field,177,5,179,6,Delhi,Wickets,4,Kuldeep Yadav,Ishan Kishan,81,Kuldeep Yadav,3--18
2,3,"March 27,2022","Dr DY Patil Sports Academy, Mumbai",Banglore,Punjab,Group,Punjab,Field,205,2,208,5,Punjab,Wickets,5,Odean Smith,Faf du Plessis,88,Mohammed Siraj,2--59
3,4,"March 28,2022","Wankhede Stadium, Mumbai",Gujarat,Lucknow,Group,Gujarat,Field,158,6,161,5,Gujarat,Wickets,5,Mohammed Shami,Deepak Hooda,55,Mohammed Shami,3--25
4,5,"March 29,2022","Maharashtra Cricket Association Stadium,Pune",Hyderabad,Rajasthan,Group,Hyderabad,Field,210,6,149,7,Rajasthan,Runs,61,Sanju Samson,Aiden Markram,57,Yuzvendra Chahal,3--22

In [3]:
df.shape

(74, 20)

In [4]:
df.columns

Index(['match_id', 'date', 'venue', 'team1', 'team2', 'stage', 'toss_winner',
       'toss_decision', 'first_ings_score', 'first_ings_wkts',
       'second_ings_score', 'second_ings_wkts', 'match_winner', 'won_by',
       'margin', 'player_of_the_match', 'top_scorer', 'highscore',
       'best_bowling', 'best_bowling_figure'],
      dtype='object')

In [5]:
df['player_of_the_match'].value_counts()

player_of_the_match
Kuldeep Yadav        4
Jos Buttler          3
Umesh Yadav          2
Quinton de Kock      2
David Miller         2
Umran Malik          2
K L Rahul            2
Rahul Tripathi       2
Hardik Pandya        2
Jasprit Bumrah       2
Shubman Gill         2
Yuzvendra Chahal     2
Wanindu Hasaranga    2
Avesh Khan           2
Dinesh Karthik       2
Virat Kohli          1
Rinku Singh          1
Kagiso Rabada        1
Harshal Patel        1
David Warner         1
Harpreet Brar        1
Tim David            1
Yashasvi Jaiswal     1
R Aswin              1
Andre Russell        1
Shardul Thakur       1
Trent Boult          1
Devon Conway         1
W. Saha              1
Mitchell Marsh       1
Mohsin Khan          1
Daniel Sams          1
Jonny Bairstow       1
Ruturaj Gaikwad      1
Rashid Khan          1
Suruakumar Yadav     1
Anuj Rawat           1
Odean Smith          1
Mohammed Shami       1
Sanju Samson         1
Evin Lewis           1
Lockie Ferguson      1
Liam Livingstone     1
Pat Cummins          1
Abhishek Sharma      1
Kane Williamson      1
Rahul Tewatia        1
Shivam Dube          1
Mayank Agarwal       1
Faf du Plessis       1
Mukesh Choudhary     1
Marco Jansen         1
Shikhar Dhawan       1
Riyan Parag          1
Krunal Pandya        1
Rajat Patidar        1
Name: count, dtype: int64

* Kuldeep Yadav has won most ipl matches 4 times

In [6]:
# find in which year Kuldeep Yadav won  potm.
df.loc[df['player_of_the_match']=='Kuldeep Yadav'].date

1     March 27,2022
18    April 10,2022
31    April 20,2022
40    April 28,2022
Name: date, dtype: object

In [7]:
# find in which player score max
df['top_scorer'].max()

'Yashasvi Jaiswal'

In [8]:
# find in which team score max in team 1.
team1_maxscore = df.groupby(df['top_scorer']).team1.max().value_counts()
team1_maxscore

team1
Banglore     8
Chennai      7
Lucknow      5
Kolkata      4
Gujarat      4
Hyderabad    3
Delhi        3
Mumbai       2
Punjab       1
Name: count, dtype: int64

In [9]:
team2_maxscore = df.groupby(df['top_scorer']).team2.max().value_counts()
team2_maxscore

team2
Rajasthan    11
Mumbai        8
Punjab        7
Hyderabad     3
Gujarat       2
Delhi         2
Kolkata       2
Lucknow       1
Chennai       1
Name: count, dtype: int64

In [10]:
# find in which player play the best_bowling
df['best_bowling'].max()

'Yuzvendra Chahal'

In [14]:
df['venue'].unique()

array(['Wankhede Stadium, Mumbai', 'Brabourne Stadium, Mumbai',
       'Dr DY Patil Sports Academy, Mumbai',
       'Maharashtra Cricket Association Stadium,Pune',
       'Eden Gardens, Kolkata', 'Narendra Modi Stadium, Ahmedabad'],
      dtype=object)

In [15]:
df['venue'].value_counts()

venue
Wankhede Stadium, Mumbai                        21
Dr DY Patil Sports Academy, Mumbai              20
Brabourne Stadium, Mumbai                       16
Maharashtra Cricket Association Stadium,Pune    13
Eden Gardens, Kolkata                            2
Narendra Modi Stadium, Ahmedabad                 2
Name: count, dtype: int64

In [38]:
# count the occurrences of each date in the 'Wankhede Stadium, Mumbai' venue or team1.
df.loc[df['venue'] == 'Wankhede Stadium, Mumbai'].groupby(['date','team1']).size()

date           team1
April 1,2022   Kolkata      1
April 10,2022  Lucknow      1
April 16,2022  Banglore     1
April 22,2022  Delhi        1
April 24,2022  Lucknow      1
April 25,2022  Chennai      1
April 27,2022  Gujarat      1
April 28,2022  Delhi        1
April 5,2022   Banglore     1
March 26,2022  Chennai      1
March 28,2022  Gujarat      1
May 1,2022     Delhi        1
May 12,2022    Chennai      1
May 15,2022    Chennai      1
May 17,2022    Hyderabad    1
May 19,2022    Banglore     1
May 2,2022     Kolkata      1
May 21,2022    Delhi        1
May 22,2022    Hyderabad    1
May 7,2022     Punjab       1
May 8,2022     Banglore     1
dtype: int64

In [45]:
# count each team which play how many times in Wankhede Stadium, Mumbai.
df.loc[df['venue'] == 'Wankhede Stadium, Mumbai'].groupby(['team1']).size()

team1
Banglore     4
Chennai      4
Delhi        4
Gujarat      2
Hyderabad    2
Kolkata      2
Lucknow      2
Punjab       1
dtype: int64

In [46]:
df.head(2)

,match_id,date,venue,team1,team2,stage,toss_winner,toss_decision,first_ings_score,first_ings_wkts,second_ings_score,second_ings_wkts,match_winner,won_by,margin,player_of_the_match,top_scorer,highscore,best_bowling,best_bowling_figure
0,1,"March 26,2022","Wankhede Stadium, Mumbai",Chennai,Kolkata,Group,Kolkata,Field,131,5,133,4,Kolkata,Wickets,6,Umesh Yadav,MS Dhoni,50,Dwayne Bravo,3--20
1,2,"March 27,2022","Brabourne Stadium, Mumbai",Delhi,Mumbai,Group,Delhi,Field,177,5,179,6,Delhi,Wickets,4,Kuldeep Yadav,Ishan Kishan,81,Kuldeep Yadav,3--18

In [47]:
df.stage.unique()

array(['Group', 'Playoff', 'Final'], dtype=object)

In [50]:
# find the team1 which play the final match.
df.groupby(df['stage']).team1.size()

stage
Final       1
Group      70
Playoff     3
Name: team1, dtype: int64

In [54]:
df[df['stage']=='Final'].team1

73    Gujarat
Name: team1, dtype: object

In [57]:
df['won_by'].unique()

array(['Wickets', 'Runs'], dtype=object)

In [59]:
# find each team which won the match by wickets.
df.groupby(df['won_by']).team1.size()

won_by
Runs       37
Wickets    37
Name: team1, dtype: int64

In [65]:
df.loc[df['won_by']=='Wickets'].team1.value_counts()

team1
Chennai      8
Banglore     8
Gujarat      7
Delhi        6
Kolkata      3
Hyderabad    3
Mumbai       1
Punjab       1
Name: count, dtype: int64